@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$background-sunset: url("image/11.jpg") !default;
$background-car: url("image/7.jpg") !default;
$background-flowerPo: url("image/2.jpg") !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$grey-color-light-op: rgba(214, 214, 214, 0.8) !default; 
$grey-color-dark-op: rgba(114, 114, 114, 0.8) !default; 

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin textbackground {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $background-color;
  padding: 10px;
  border-radius: 5px;
  border: solid black 1px;
}

@mixin headerbackground {
  margin-bottom: 10px;
  background-color: $background-color;
  padding: 10px;
  border-radius: 5px;
  border: solid black 1px;
  
}

@mixin headerstyle {
text-transform: capitalize;
text-align: center;
}

@mixin sideFloatWindow {
  float: right;
  position: sticky;
  top: 20%;
  background: none;
  height: 0px;
  img {
    height: auto;
    width: 270px;
  }
  .aboutprofile {
    background-color: $background-color;
    padding: 10px;
    border-radius: 5px;
    border: solid black 1px;
    width: 250px;
    font-size: 25px;
  }
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
