<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "sv" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  {%- include profile.html -%}
 
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}

      {% if page.comments %}
      <div id="disqus_thread"></div>
      <script>
        /**
        *  https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function () { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://http-localhost-4000-ase5f7dcin.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
          Disqus.</a></noscript>
      {% endif %}
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>
